@media only screen and (min-width: 1200px)
{
    html
    {
        overflow: hidden;
    }
}

.container
{
    max-width: none;
    padding: 0;
}

.container-slider
{
    border-radius: 0;
    box-sizing: border-box;
    color: white;
    font-size: 62.5%;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
}

.pricing-slider
{
    display: flex;
    height: 100vh;
    transform: translateX(0);
    transition: all 0.25s ease-in;
    width: 500%;
}

@media only screen and (max-width: 1200px)
{
    .pricing-slider
    {
        height: 100vh;
    }

    .container-slider
    {
        border-radius: 0;
    }

    body
    {
        padding: 0;
    }
}

.pricing-slider .price-box
{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    position: relative;
    width: 100%;
}

.pricing-slider .price-box .bg
{
    background-color: #000000;
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
    left: -10%;
    padding: 2rem;
    padding-left: 20rem;
    position: absolute;
    transform: skewX(7deg);
    transform-origin: 0 100%;
    width: 55%;
}

.pricing-slider .price-box .bg::before
{
    background-color: inherit;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: skewX(10deg);
    width: 100%;
}

.pricing-slider .price-box .details
{
    grid-column: 1/span 1;
    grid-row: -1;
    padding: 5rem;
    padding-left: 10rem;
    z-index: 100;
}

.pricing-slider .price-box .details h1
{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.pricing-slider .price-box .details p
{
    color: #b5b4b4;
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
}

.pricing-slider .price-box .details a
{
    border: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 1rem 3rem;
    transition: all 0.3s ease;
}

.pricing-slider .price-box .details a:hover
{
    opacity: 0.8;
}

.pricing-slider .price-box .details a:focus
{
    border: none;
    outline: none;
}

.pricing-slider .price-box-low
{
    background-color: #500033;
}

.pricing-slider .price-box-low .price-card-illustration .inner
{
    background-color: #f07;
}

.pricing-slider .price-box-low .price-card-illustration .inner::after,
.pricing-slider .price-box-low .price-card-illustration .inner::before
{
    background-color: #ff0077;
    background-color: rgba(255, 0, 119, .4);
}

.pricing-slider .price-box-low button
{
    background-color: #f07;
}

.pricing-slider .price-box-medium
{
    background-color: #000050;
}

.pricing-slider .price-box-medium .price-card-illustration .inner
{
    background-color: #03f;
}

.pricing-slider .price-box-medium .price-card-illustration .inner::after,
.pricing-slider .price-box-medium .price-card-illustration .inner::before
{
    background-color: #0033ff;
    background-color: rgba(0, 51, 255, .4);
}

.pricing-slider .price-box-medium button
{
    background-color: #03f;
}

.pricing-slider .price-box-high
{
    background-color: #00501d;
}

.pricing-slider .price-box-high .price-card-illustration .inner
{
    background-color: #0f4;
}

.pricing-slider .price-box-high .price-card-illustration .inner::after,
.pricing-slider .price-box-high .price-card-illustration .inner::before
{
    background-color: #00ff44;
    background-color: rgba(0, 255, 68, .4);
}

.pricing-slider .price-box-high button
{
    background-color: #0f4;
}

.pricing-slider .price-box-ultra
{
    background-color: #554d00;
}

.pricing-slider .price-box-ultra .price-card-illustration .inner
{
    background-color: #ff4e00;
}

.pricing-slider .price-box-ultra .price-card-illustration .inner::after,
.pricing-slider .price-box-ultra .price-card-illustration .inner::before
{
    background-color: #ff4e00;
    background-color: rgba(255, 78, 0, .4);
}

.pricing-slider .price-box-ultra button
{
    background-color: #ff4e00;
}

.pricing-slider .price-box-unstoppable
{
    background-color: #300050;
}

.pricing-slider .price-box-unstoppable .price-card-illustration .inner
{
    background-color: #8000ff;
}

.pricing-slider .price-box-unstoppable .price-card-illustration .inner::after,
.pricing-slider .price-box-unstoppable .price-card-illustration .inner::before
{
    background-color: #8000ff;
    background-color: rgba(128, 0, 255, .4);
}

.pricing-slider .price-box-unstoppable button
{
    background-color: #8000ff;
}

.pricing-slider .price-card-illustration
{
    grid-column: -2;
    grid-row: -1;
    justify-self: center;
}

.pricing-slider .price-card-illustration div
{
    background-color: #f07;
    border-radius: 3rem;
    height: 25rem;
    position: relative;
    transform: skewX(-10deg);
    width: 18rem;
}

@media only screen and (max-width: 992px)
{
    .pricing-slider .price-card-illustration div
    {
        height: 20rem;
        width: 15rem;
    }

    .pricing-slider .price-box .details p
    {
        margin-right: 0;
    }

    .pricing-slider .price-box .bg
    {
        width: 65%;
    }

    html
    {
        font-size: 57%;
    }
}

.pricing-slider .price-card-illustration div::after,
.pricing-slider .price-card-illustration div::before
{
    border-radius: 3rem;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.pricing-slider .price-card-illustration div::after
{
    transform: translate(4rem, -1rem);
}

.pricing-slider .price-card-illustration div::before
{
    transform: translate(2rem, -2rem);
}

.prev-price-card,
.next-price-card,
.price-trail
{
    position: absolute;
    z-index: 10000;
}

.prev-price-card,
.next-price-card
{
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s ease;
    width: 4rem;
}

.prev-price-card:hover,
.next-price-card:hover
{
    opacity: 1;
}

.prev-price-card
{
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.next-price-card
{
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.price-trail
{
    bottom: 5%;
    display: grid;
    font-size: 1.5rem;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 60%;
}

@media only screen and (max-width: 768px)
{
    .price-trail
    {
        bottom: 13%;
        width: 90%;
    }

    .price-box
    {
        display: flex;
        justify-items: center;
    }

    .price-trail div
    {
        padding: 1rem;
    }

    .prev-price-card,
    .next-price-card
    {
        display: none;
    }

    .pricing-slider .price-box .bg::before
    {
        bottom: 0;
        transform: skewX(0);
        width: 120%;
    }

    .pricing-slider .price-card-illustration
    {
        align-items: center;
        display: flex;
        grid-column: -1;
        grid-row: 1/span 1;
        justify-content: center;
    }

    .pricing-slider .price-box
    {
        display: grid;
        grid-template-columns: max-content;
        /*         grid-template-columns: 1fr;*/
        grid-template-rows: repeat(2, 1fr);
    }

    .pricing-slider .price-box .details
    {
        grid-column: -1;
        grid-row: 2/span 1;
        padding: 2rem;
        text-align: center;
        transform: translateY(-9rem);
    }

    .pricing-slider .price-box .bg
    {
        bottom: 0;
        height: 54%;
        left: 0;
        transform: skewX(0);
        width: 100%;
    }
}

.price-trail div
{
    border-top: 3px solid #fff;
    cursor: pointer;
    opacity: 0.2;
    padding: 2rem;
    transition: all 0.3s ease;
}

.price-trail div:hover
{
    opacity: 0.35;
}

.price-trail-active
{
    opacity: 1 !important;
}

.price-card-illustration div .display-1
{
    box-shadow: var(--bs-dark) 5px 7px 50px;
    display: inline-flex;
    z-index: 101;
}