@model FoundersPC.Web.Domain.Common.Hardware.SolidStateDriveDtoViewModel

<div
    class='d-grid'>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Factor'
                    class='bg-dark form-control text-light'>
                <label>Factor</label>
            </div>
        </div>
        <span
            asp-validation-for='Factor'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Interface'
                    class='bg-dark form-control text-light'>
                <label>Interface</label>
            </div>
        </div>
        <span
            asp-validation-for='Interface'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Volume'
                    class='bg-dark form-control text-light'>
                <label>Volume</label>
            </div>
        </div>
        <span
            asp-validation-for='Volume'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='MicroScheme'
                    class='bg-dark form-control text-light'>
                <label>MicroScheme</label>
            </div>
        </div>
        <span
            asp-validation-for='MicroScheme'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='SequentialRead'
                    class='bg-dark form-control text-light'>
                <label>SequentialRead</label>
            </div>
        </div>
        <span
            asp-validation-for='SequentialRead'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='SequentialRecording'
                    class='bg-dark form-control text-light'>
                <label>SequentialRecording</label>
            </div>
        </div>
        <span
            asp-validation-for='SequentialRecording'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Title'
                    class='bg-dark form-control text-light'>
                <label>Title</label>
            </div>
        </div>
        <span
            asp-validation-for='Title'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='ProducerId'
                    class='bg-dark form-control text-light'>
                <label>Producer Id</label>
            </div>
        </div>
        <span
            asp-validation-for='ProducerId'
            class='text-danger'>
        </span>
    </div>
    <partial
        name='_ComponentApplyButton'/>
</div>