.popup-container .pop-up-content
{
    background: #323232;
    background: rgba(50, 50, 50, 0.85);
    border: 3px solid #1a1a1a;
    box-shadow: green 5px 5px 0px 0px;
    display: none;
    font-size: 90%;
    max-width: 50%;
    padding: 10px;
    position: absolute;
    width: fit-content;
}

.popup-trigger
{
    text-decoration: none;
}