body
{
    font-family: "Lato", sans-serif;
}

.sidenav
{
    background-color: #21242a;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

.main
{
    padding: 0px 10px;
}

@media screen and (max-height: 450px)
{
    .sidenav
    {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px)
{
    .login-form
    {
        margin-top: 10%;
    }

    .register-form
    {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px)
{
    .main
    {
        margin-left: 40%;
    }

    .sidenav
    {
        left: 0;
        position: fixed;
        top: 0;
        width: 40%;
        z-index: 0;
    }

    .login-form
    {
        margin-top: 60%;
    }

    .register-form
    {
        margin-top: 55%;
    }

    .forgotpassword-form
    {
        margin-top: 50%;
    }
}


.login-main-text
{
    color: #fff;
    margin-top: 20%;
    padding: 60px;
}

.login-main-text h2
{
    font-weight: 300;
}

a:hover .icon-reset path
{
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-name: rotation;
    animation-timing-function: cubic-bezier(100, 0, 0, 100);
    transform-origin: center;
    transition: ease-in-out;
}

a:hover .icon-eye path
{
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-name: shaking;
    animation-timing-function: cubic-bezier(100, 0, 0, 100);
    transform-origin: center;
    transition: ease-in-out;
}

.btn.btn-neon {
    margin: 8px 0px 0px 8px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px 5px 10px;
}

@media screen and (min-width: 400px)
{
    .btn.btn-neon 
    {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) 
{
    .btn.btn-neon 
    {
        
        font-size: 0.8rem;
    }
}