.details-info
{
    box-shadow: 20px 20px 200px #044d50 !important;
    display: flex;
    margin-top: 10%;
}

.details-wrapper
{
    color: white;
}

.btn-apply
{
    border: 1px solid;
    margin: 20px 0px 15px 0px;
    padding: 5px 10px 5px 10px;
}