.btn-neon
{
    /*Change this to change color*/
    border: #03e9f4 5px;
    color: #03e9f4;
    display: inline-block;
    letter-spacing: 4px;
    margin: 40px 0;
    margin-right: 50px;
    overflow: hidden;
    padding: 25px 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-neon.neon-yellow
{
    filter: hue-rotate(215deg);
}

.btn-neon.neon-blue
{
    filter: hue-rotate(50deg);
}

.btn-neon.neon-violet
{
    filter: hue-rotate(80deg);
}

.btn-neon.neon-orange
{
    filter: hue-rotate(190deg);
}

.btn-neon.neon-green 
{
    filter: hue-rotate(310deg);
}

.btn-neon.neon-pink
{
    filter: hue-rotate(120deg);
}

.btn-neon:hover
{
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 10px #03e9f4, 0 0 50px #03e9f4;
    color: #050801;
}

.btn-neon.neon-stripes span
{
    display: block;
    position: absolute;
}

.btn-neon.neon-stripes span:nth-child(1)
{
    animation: animate1 1s linear infinite;
    background: linear-gradient(90deg, transparent, #03e9f4);
    height: 2px;
    left: 0;
    top: 0;
    width: 100%;
}

@keyframes animate1
{
    0%
    {
        left: -100%;
    }

    50%,
    100%
    {
        left: 100%;
    }
}

.btn-neon.neon-stripes span:nth-child(2)
{
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
    background: linear-gradient(180deg, transparent, #03e9f4);
    height: 100%;
    right: 0;
    top: -100%;
    width: 2px;
}

@keyframes animate2
{
    0%
    {
        top: -100%;
    }

    50%,
    100%
    {
        top: 100%;
    }
}

.btn-neon.neon-stripes span:nth-child(3)
{
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
    background: linear-gradient(270deg, transparent, #03e9f4);
    bottom: 0;
    height: 2px;
    right: 0;
    width: 100%;
}

@keyframes animate3
{
    0%
    {
        right: -100%;
    }

    50%,
    100%
    {
        right: 100%;
    }
}

.btn-neon.neon-stripes span:nth-child(4)
{
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
    background: linear-gradient(360deg, transparent, #03e9f4);
    bottom: -100%;
    height: 100%;
    left: 0;
    width: 2px;
}

@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }

    50%,
    100%
    {
        bottom: 100%;
    }
}