@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}

#notfound
{
    background: #030005;
    height: 100vh;
    position: relative;
    width: 100vw;
}

#notfound .notfound
{
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notfound
{
    line-height: 1.4;
    max-width: 767px;
    text-align: center;
    width: 100%;
}

.notfound .notfound-404
{
    height: 180px;
    margin-bottom: 20px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1
{
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #030005;
    font-family: 'Montserrat', sans-serif;
    font-size: 224px;
    font-weight: 900;
    left: 50%;
    letter-spacing: -30px;
    margin-bottom: 0px;
    margin-left: -12px;
    margin-top: 0px;
    padding-bottom: 35%;
    position: absolute;
    text-shadow: -10px -5px 0px #4400ff, 1px 1px 0px #c40044;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 2s all;
}

.notfound .notfound-404 h1:hover
{
    color: #ffffff;
    transition: all 3s;
}

.notfound .notfound-404 h2
{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700;
    left: 0;
    letter-spacing: 13px;
    margin: 0;
    position: absolute;
    right: 0;
    text-shadow: 0px 2px 0px #ff0000;
    text-transform: uppercase;
    top: 110px;
    transition: 0.4s all;
}

.notfound .notfound-404 h2:hover
{
    letter-spacing: 25px;
    text-shadow: 0px 2px 0px #00e01e;
    transition: 0.4s all;
}

.notfound a
{
    -webkit-transition: 0.2s all;
    background: transparent;
    border: 2px solid;
    color: #ff0062;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s all;
}

.notfound a:hover
{
    color: #00a2be;
    margin-top: 3%;
}

@media only screen and (max-width: 767px)
{
    .notfound .notfound-404 h2
    {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px)
{
    .notfound .notfound-404 h1
    {
        font-size: 182px;
    }
}