.icon-alien path
{
    fill: white;
}

.icon-alien:hover path
{
    animation: alien-animation 0.2s infinite;
    animation-direction: alternate;
}

@keyframes alien-animation
{
    0%
    {
        fill: white;
    }

    16% {
        fill: #FFFD84;
    }

    33%
    {
        fill: yellow;
    }

    42% 
    {
        fill: #FFD039
    }

    50%
    {
        fill: orange;
    }

    60% 
    {
        fill: #FF7C00
    }

    76%
    {
        fill: orangered;
    }

    87% 
    {
        fill: #A43900;
    }

    100%
    {
        fill: red;
    }
}