*
{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.05rem;
}

html
{
    font-size: 14px;
}

@media (min-width: 768px)
{
    html
    {
        font-size: 16px;
    }
}

/*borders*/

.border-top
{
    border-top: 1px solid #e5e5e5;
}

.border-bottom
{
    border-bottom: 1px solid #e5e5e5;
}

/*end borders*/

/* Sticky footer styles
-------------------------------------------------- */

html
{
    min-height: 100%;
    position: relative;
}

body
{
    background: #1d2026;
    margin-bottom: 60px;
}

.footer
{
    bottom: 0;
    line-height: 60px; /* Vertically center the text there */
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.btn-stupid
{
    align-self: center;
    font-size: 200px;
    height: 100vh;
    position: fixed;
    width: 100vh;
}

/* -- Animated -hr -- */

.hr-runner
{
    background: #fdfbfb;
    height: 1px;
    overflow: hidden;
    position: relative;
}

.hr-runner::before
{
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: hr-runner;
    animation-timing-function: ease;
    background: #111;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
}

@keyframes hr-runner
{
    0%
    {
        transform: translateX(0px);
    }

    100%
    {
        transform: translateX(1440px);
    }
}

/* -- END Animated -hr -- */

/*Floating label v2*/

.form-label-group
{
    margin-bottom: 1rem;
    position: relative;
}

.form-label-group > input,
.form-label-group > label,
.input-group > input,
.input-group > label
{
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label,
.input-group > label
{
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #929292;
    cursor: text; /* Match the input under the label */
    display: block;
    left: 0;
    line-height: 1.5;
    margin-bottom: 0; /* Override default `<label>` margin */
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all .1s ease-in-out;
    width: 100%;
    z-index: 3;
}

.form-label-group input::-webkit-input-placeholder
{
    color: transparent;
}

.form-label-group input:-ms-input-placeholder
{
    color: transparent;
}

.form-label-group input::-ms-input-placeholder
{
    color: transparent;
}

.form-label-group input::-moz-placeholder
{
    color: transparent;
}

.form-label-group input::placeholder
{
    color: transparent;
}

.form-label-group input:not(:placeholder-shown)
{
    padding-bottom: .25rem;
    padding-top: 1.25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label
{
    color: #c7c7c7;
    font-size: 12px;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto)
{
    .form-label-group > label
    {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder
    {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
    .form-label-group > label
    {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder
    {
        color: #777;
    }
}

/*Floating label v2 end*/

.icon
{
    fill: rgb(255, 255, 255);
    height: 1.5rem;
    position: relative;
    width: 2rem;
}

.box-shadow-fill 
{
    box-shadow: 20px 20px 200px #044d50 !important;
}