.table-wrapper {
    padding: 1%;
    border-radius: 3px;
    box-shadow: 20px 20px 200px #044d50 !important;
}

.table-title {
    background: #252525;
    color: rgb(197, 197, 197);
}

.table-title .btn {
    font-size: 14px;
    border-radius: 50px;
}