@model FoundersPC.Web.Domain.Common.Hardware.CaseDtoViewModel

<div
    class='d-grid'>
<div
    class='row'>
    <div
        class='form-check ms-3 text-light'>
        <div
            class='text-light'>
            <input
                asp-for='TransparentWindow'
                class='form-check-input'
                type='checkbox'>
        </div>
        <label
            class='form-check-label'>
            Transparent Window
        </label>
    </div>
    <span
        asp-validation-for='TransparentWindow'
        class='text-danger'>
    </span>
</div>
<div
    class="row">
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='ProducerId'
                class='bg-dark form-control text-light'>
            <label>Producer Id</label>
        </div>
    </div>
    <span
        asp-validation-for='ProducerId'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='Title'
                class='bg-dark form-control text-light'>
            <label>Title</label>
        </div>
    </div>
    <span
        asp-validation-for='Title'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-group ms-1 text-light'>
        <div
            class='form-check form-check-inline'>
            <input
                asp-for='IsDepthEmpty'
                class='form-check-input'
                type='checkbox'>
            <label
                class='form-check-label'>
                I don't know
            </label>
        </div>
        <div
            class='form-label-group ms-3'>
            <div
                class='input-group'>
                <input
                    asp-for='Depth'
                    class='bg-dark form-control text-light'>
                <label>Depth</label>
            </div>
        </div>
    </div>
    <span
        asp-validation-for='Depth'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-group ms-1 text-light'>
        <div
            class='form-check form-check-inline'>
            <input
                asp-for='IsHeightEmpty'
                class='form-check-input'
                type='checkbox'>
            <label
                class='form-check-label'>
                I don't know
            </label>
        </div>
        <div
            class='form-label-group ms-3'>
            <div
                class='input-group'>
                <input
                    asp-for='Height'
                    class='bg-dark form-control text-light'>
                <label>Height</label>
            </div>
        </div>
    </div>
    <span
        asp-validation-for='Height'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-group ms-1 text-light'>
        <div
            class='form-check form-check-inline'>
            <input
                asp-for='IsWeightEmpty'
                class='form-check-input'
                type='checkbox'>
            <label
                class='form-check-label'>
                I don't know
            </label>
        </div>
        <div
            class='form-label-group ms-3'>
            <div
                class='input-group'>
                <input
                    asp-for='Weight'
                    class='bg-dark form-control text-light'>
                <label>Weight</label>
            </div>
        </div>
    </div>
    <span
        asp-validation-for='Weight'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-group ms-1 text-light'>
        <div
            class='form-check form-check-inline'>
            <input
                asp-for='IsWidthEmpty'
                class='form-check-input'
                type='checkbox'>
            <label
                class='form-check-label'>
                I don't know
            </label>
        </div>
        <div
            class='form-label-group ms-3'>
            <div
                class='input-group'>
                <input
                    asp-for='Width'
                    class='bg-dark form-control text-light'>
                <label>Width</label>
            </div>
        </div>
    </div>
    <span
        asp-validation-for='Width'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='Type'
                class='bg-dark form-control text-light'>
            <label>Type</label>
        </div>
    </div>
    <span
        asp-validation-for='Type'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='WindowMaterial'
                class='bg-dark form-control text-light'>
            <label>Window Material</label>
        </div>
    </div>
    <span
        asp-validation-for='WindowMaterial'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='MaxMotherboardSize'
                class='bg-dark form-control text-light'>
            <label>Max Motherboard Size</label>
        </div>
    </div>
    <span
        asp-validation-for='MaxMotherboardSize'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='Material'
                class='bg-dark form-control text-light'>
            <label>Material</label>
        </div>
    </div>
    <span
        asp-validation-for='Material'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='Color'
                class='bg-dark form-control text-light'>
            <label>Color</label>
        </div>
    </div>
    <span
        asp-validation-for='Color'
        class='text-danger'>
    </span>
</div>
<partial
    name='_ComponentApplyButton'/>
</div>