@model FoundersPC.Web.Domain.Common.Hardware.Cases.CaseInsertDtoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>