@model FoundersPC.Web.Domain.Common.Hardware.VideoCardDtoViewModel

<div
    class='d-grid'>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='AdditionalPower'
                class='bg-dark form-control text-light'>
            <label>Additional Power</label>
        </div>
    </div>
    <span
        asp-validation-for='AdditionalPower'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='Frequency'
                class='bg-dark form-control text-light'>
            <label>Frequency</label>
        </div>
    </div>
    <span
        asp-validation-for='Frequency'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='Series'
                class='bg-dark form-control text-light'>
            <label>Series</label>
        </div>
    </div>
    <span
        asp-validation-for='Series'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='VideoMemoryVolume'
                class='bg-dark form-control text-light'>
            <label>Video Memory Volume</label>
        </div>
    </div>
    <span
        asp-validation-for='VideoMemoryVolume'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='VideoMemoryType'
                class='bg-dark form-control text-light'>
            <label>Video Memory Type</label>
        </div>
    </div>
    <span
        asp-validation-for='VideoMemoryType'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='VideoMemoryFrequency'
                class='bg-dark form-control text-light'>
            <label>Video Memory Frequency</label>
        </div>
    </div>
    <span
        asp-validation-for='VideoMemoryFrequency'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='VideoMemoryBusWidth'
                class='bg-dark form-control text-light'>
            <label>Video Memory Bus Width</label>
        </div>
    </div>
    <span
        asp-validation-for='VideoMemoryBusWidth'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='VGA'
                class='bg-dark form-control text-light'>
            <label>VGA</label>
        </div>
    </div>
    <span
        asp-validation-for='VGA'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='DVI'
                class='bg-dark form-control text-light'>
            <label>DVI</label>
        </div>
    </div>
    <span
        asp-validation-for='DVI'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='HDMI'
                class='bg-dark form-control text-light'>
            <label>HDMI</label>
        </div>
    </div>
    <span
        asp-validation-for='HDMI'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='DisplayPort'
                class='bg-dark form-control text-light'>
            <label>DisplayPort</label>
        </div>
    </div>
    <span
        asp-validation-for='DisplayPort'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='Title'
                class='bg-dark form-control text-light'>
            <label>Title</label>
        </div>
    </div>
    <span
        asp-validation-for='Title'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='GraphicsProcessorId'
                class='bg-dark form-control text-light'>
            <label>Graphics Processor Id</label>
        </div>
    </div>
    <span
        asp-validation-for='GraphicsProcessorId'
        class='text-danger'>
    </span>
</div>
<div
    class='row'>
    <div
        class='form-label-group'>
        <div
            class='input-group'>
            <input
                asp-for='ProducerId'
                class='bg-dark form-control text-light'>
            <label>Producer Id</label>
        </div>
    </div>
    <span
        asp-validation-for='ProducerId'
        class='text-danger'>
    </span>
</div>
<partial
    name='_ComponentApplyButton'/>
</div>