@model FoundersPC.Web.Domain.Common.Hardware.RandomAccessMemoryDtoViewModel

<div
    class='d-grid'>
    <div
        class='row'>
        <div
            class='text-light'>
            <input
                asp-for='XMP'
                class='form-check-input'
                type='checkbox'>
            <label
                class='form-check-label'>
                XMP
            </label>
        </div>
        <span
            asp-validation-for='XMP'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='text-light'>
            <input
                asp-for='ECC'
                class='form-check-input'
                type='checkbox'>
            <label
                class='form-check-label'>
                ECC
            </label>
        </div>
        <span
            asp-validation-for='ECC'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Title'
                    class='bg-dark form-control text-light'>
                <label>Title</label>
            </div>
        </div>
        <span
            asp-validation-for='Title'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='MemoryType'
                    class='bg-dark form-control text-light'>
                <label>MemoryType</label>
            </div>
        </div>
        <span
            asp-validation-for='MemoryType'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Frequency'
                    class='bg-dark form-control text-light'>
                <label>Frequency</label>
            </div>
        </div>
        <span
            asp-validation-for='Frequency'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='CASLatency'
                    class='bg-dark form-control text-light'>
                <label>CAS Latency</label>
            </div>
        </div>
        <span
            asp-validation-for='CASLatency'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Timings'
                    class='bg-dark form-control text-light'>
                <label>Timings</label>
            </div>
        </div>
        <span
            asp-validation-for='Timings'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Voltage'
                    class='bg-dark form-control text-light'>
                <label>Voltage</label>
            </div>
        </div>
        <span
            asp-validation-for='Voltage'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='PCIndex'
                    class='bg-dark form-control text-light'>
                <label>PCIndex</label>
            </div>
        </div>
        <span
            asp-validation-for='PCIndex'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='ProducerId'
                    class='bg-dark form-control text-light'>
                <label>Producer Id</label>
            </div>
        </div>
        <span
            asp-validation-for='ProducerId'
            class='text-danger'>
        </span>
    </div>
    <partial
        name='_ComponentApplyButton'/>
</div>