@model FoundersPC.AuthenticationShared.Response.UserForgotPasswordResponse
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div
    class = "align-content-center align-middle align-self-lg-center card-body">
    <div
        class = "card-group">
        <label
            asp-for = "Email">
        </label>
        <h1>@Model.Email</h1>
    </div>
    <div
        class = "card-group">
        <label
            asp-for = "IsUserExists">
        </label>
        <h1>@Model.IsUserExists</h1>
    </div>
    <div
        class = "card-group">
        <label
            asp-for = "EmailSendError">
        </label>
        <h1>@Model.EmailSendError</h1>
    </div>
    <div
        class = "card-group">
        <label
            asp-for = "IsConfirmationMailSent">
        </label>
        <h1>@Model.IsConfirmationMailSent</h1>
    </div>
</div>