@model FoundersPC.AuthenticationShared.Request.UserLoginRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/authstyles.css">
}
<div class="sidenav">
    <div class="login-main-text">
        <h2>FoundersPC<br> LogIn Page</h2>
        <p>LogInAsync from here to access the API.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form asp-action="LogIn" asp-controller="Authentication">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LoginOrEmail" class="text-info"></label>
                    <input type="text" class="form-control" asp-for="LoginOrEmail">
                    <span asp-validation-for="LoginOrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="text-info"></label>
                    <div class="input-group mb-auto">
                        <input type="password" asp-for="Password" id="password-box" class="form-control">
                        <span onclick="showHidePasswordBox()" class="input-group-text">
                            <ion-icon name="eye-off-outline" id="pass-hide"/>
                        </span>
                    </div>
                    <div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-dark" value="Log In">
                </div>
            </form>
            <div>
                <div>
                    <a class="text-info" asp-controller="Authentication" asp-action="ForgotPasswordIndex">Forgot password</a>
                </div>
                <div>
                    <a class="text-info" asp-controller="Authentication" asp-action="RegisterIndex">Don't have an account</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    const passwordBox = document.getElementById('password-box');
    const passwordShowHideImage = document.getElementById('pass-hide');

    function showHidePasswordBox() {
        if (passwordBox.type === 'text') {
            passwordBox.type = 'password';
            passwordShowHideImage.name = 'eye-off-outline';
        } else {
            passwordBox.type = 'text';
            passwordShowHideImage.name = 'eye-outline';
        }
    }

</script>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}