@model FoundersPC.AuthenticationShared.Request.UserRegisterRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/authstyles.css">
}

<div class="sidenav">
    <div class="login-main-text">
        <h2>FoundersPC<br> Registration Page</h2>
        <p>RegisterAsync from here to have an access to our API.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form asp-action="Register" asp-controller="Authentication">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="text-info col-form-label"></label>
                    <input type="text" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="text-info"></label>
                    <div class="input-group mb-auto">
                        <input type="password" asp-for="Password" id="password-box" class="form-control">
                        <span onclick="showHidePasswordBox()" class="input-group-text">
                            <ion-icon name="eye-off-outline" id="pass-hide"/>
                        </span>
                        <span onclick="generateRandomPassword()" class="input-group-text">
                            <ion-icon name="reload-outline"/>
                        </span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-dark" value="Register">
                </div>
            </form>
            <div>
                <a class="text-info" asp-controller="Authentication" asp-action="LoginIndex">Have an account</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<script>

    const passwordBox = document.getElementById('password-box');
    const passwordShowHideImage = document.getElementById('pass-hide');

    function generateRandomPassword() {
        const countOfLetters = randomInt(6, 30);
        const randomPasswordString = randomString();
        passwordBox.value = randomPasswordString.slice(-countOfLetters);
    }

    function showHidePasswordBox() {
        if (passwordBox.type === 'text') {
            passwordBox.type = 'password';
            passwordShowHideImage.name = 'eye-off-outline';
        } else {
            passwordBox.type = 'text';
            passwordShowHideImage.name = 'eye-outline';
        }
    }

</script>