@model FoundersPC.Web.Domain.Entities.ViewModels.Authentication.SignUpViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link
        href="~/css/authstyles.css"
        rel="stylesheet">
}

<div
    class="sidenav">
    <div
        class="login-main-text">
        <h2>
            FoundersPC
            <br> Registration Page
        </h2>
        <p>SignUpAsync from here to have an access to our API.</p>
    </div>
</div>
<div
    class="main">
    <div
        class="col-md-9 col-sm-12
                        mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-4 mt-sm-4 mt-4">
        <div
            class="register-form">
            <form
                asp-action="SignUp"
                asp-controller="Authentication">
                <div
                    asp-validation-summary="ModelOnly"
                    class="text-danger">
                </div>
                <div
                    class="form-label-group">
                    <div
                        class="input-group">
                        <input
                            asp-for="Email"
                            class="bg-dark form-control text-light"
                            id="inputEmail"
                            placeholder="Email address"
                            type="email">
                        <label>Email address</label>
                    </div>
                </div>
                <span
                    asp-validation-for="Email"
                    class="text-danger">
                </span>

                <div
                    class="form-label-group">
                    <div
                        class="input-group">
                        <input
                            asp-for="RawPassword"
                            autofocus
                            class="bg-dark form-control text-light"
                            id="inputPassword"
                            placeholder="Password"
                            required
                            type="password">
                        <label>Password</label>
                        <div
                            class="d-flex">
                            <div
                                class="d-flex input-group-append"
                                id="img-generate-password">
                                <a
                                    class="btn btn-outline-warning d-flex input-group-text">
                                    <ion-icon
                                        name="reload-outline"/>
                                </a>
                            </div>
                            <div
                                class="d-flex input-group-append"
                                id="btn-hide">
                                <a
                                    class="btn btn-outline-info d-flex input-group-text">
                                    <ion-icon
                                        id="pass-eye"
                                        name="eye-off-outline"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <span
                    asp-validation-for="RawPassword"
                    class="text-danger">
                </span>

                <div
                    class="form-label-group">
                    <div
                        class="input-group">
                        <input
                            asp-for="RawPasswordConfirm"
                            class="bg-dark form-control text-light"
                            id="inputPasswordConfirm"
                            placeholder="Email address"
                            type="password">
                        <label>Password Confirm</label>
                        <div
                            class="d-flex">
                            <div
                                class="d-flex input-group-append"
                                id="btn-hide-confirm">
                                <a
                                    class="btn btn-outline-info d-flex input-group-text">
                                    <ion-icon
                                        id="pass-eye-confirm"
                                        name="eye-off-outline"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <span
                    asp-validation-for="RawPasswordConfirm"
                    class="text-danger">
                </span>
                <div
                    class="form-group mt-4">
                    <input
                        class="btn btn-success"
                        type="submit"
                        value="Register">
                </div>
            </form>
            <hr
                class="hr-runner"/>
            <div
                class="d-block">
                <div
                    class="mt-3">
                    <a
                        asp-action="SignIn"
                        asp-controller="Authentication"
                        class="btn btn-outline-info">
                        Have an account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script
        src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script
        src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script
        src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function() {
            const passwordBox = document.getElementById('inputPassword');
            const passwordBoxConfirm = document.getElementById('inputPasswordConfirm');

            const passwordShowHideImage = document.getElementById('pass-eye');
            const passwordConfirmShowHideImage = document.getElementById('pass-eye-confirm');

            $('#btn-hide').click(() => {
                const isHided = passwordBox.type === 'password';
                passwordBox.type = isHided ? 'text' : 'password';
                passwordShowHideImage.name = isHided ? 'eye-outline' : 'eye-off-outline';
            });
            $('#btn-hide-confirm').click(() => {
                const isHided = passwordBoxConfirm.type === 'password';
                passwordBoxConfirm.type = isHided ? 'text' : 'password';
                passwordConfirmShowHideImage.name = isHided ? 'eye-outline' : 'eye-off-outline';
            });
            $('#img-generate-password').click(() => {
                const countOfLetters = randomInt(6, 30);
                const randomPasswordString = randomString();
                passwordBox.value = randomPasswordString.slice(-countOfLetters);
            });
        });
    </script>
}