@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-stupid {
        align-content: center;
        align-self: center;
        font-size: xx-large;
        font-size: 200px;
        height: 100vh;
        width: 95vh;
    }
</style>
<button
    asp-action = "Logout"
    asp-controller = "Authentication"
    class = "btn-danger btn-outline-danger btn-stupid">
    LOGOUT
</button>