@using FoundersPC.ApplicationShared
<!DOCTYPE html>
<html>
<head>
    <meta
        charset="utf-8"/>
    <meta
        content="width=device-width, initial-scale=1.0"
        name="viewport"/>
    <title>@ViewData["Title"]</title>
    <link
        href="~/lib/bootstrap/css/bootstrap.css"
        rel="stylesheet"/>
    <link
        href="~/css/site.css"
        rel="stylesheet">
    <link
        href="~/css/navbar.css"
        rel="stylesheet"/>
</head>
<body>
<nav
    class="bg-dark navbar navbar-dark navbar-expand-lg sticky-top">
    <div
        class="container-fluid">
        <a
            asp-action="Index"
            asp-controller="Home"
            class="navbar-brand">
            FoundersPC
            <img
                alt=""
                class="img-fluid"
                height="50"
                src="~/img/logo_transparent-logo.png"
                width="50">
        </a>
        <button
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarNavDropdown"
            data-bs-toggle="collapse"
            type="button">
            <span
                class="navbar-toggler-icon">
            </span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navbarNavDropdown">
            <ul
                class="mb-2 mb-lg-0 me-auto navbar-nav">
                <li
                    class="nav-item
                     mx-xxl-2 mx-xl-2 mx-lg-2 mx-md-0 mx-sm-0 mx-0
                     my-xxl-0 my-xl-0 my-lg-0 my-md-3 my-sm-3 my-3">
                    <a
                        aria-current="page"
                        class="btn btn-outline-success nav-link text-light"
                        href="#">
                        Pricing
                    </a>
                </li>
                <li
                    class="nav-item
                     mx-xxl-2 mx-xl-2 mx-lg-2 mx-md-0 mx-sm-0 mx-0
                     my-xxl-0 my-xl-0 my-lg-0 my-md-3 my-sm-3 my-3">
                    <a
                        aria-current="page"
                        class="btn btn-outline-info nav-link text-light"
                        href="#">
                        About
                    </a>
                </li>
                <li
                    class="nav-item
                     mx-xxl-2 mx-xl-2 mx-lg-2 mx-md-0 mx-sm-0 mx-0
                     my-xxl-0 my-xl-0 my-lg-0 my-md-3 my-sm-3 my-3">
                    <a
                        aria-current="page"
                        class="btn btn-outline-warning nav-link text-light"
                        href="#">
                        Privacy
                    </a>
                </li>
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li
                            class="nav-item
                             dropdown
                             mx-xxl-2 mx-xl-2 mx-lg-2 mx-md-0 mx-sm-0 mx-0
                             my-xxl-0 my-xl-0 my-lg-0 my-md-3 my-sm-3 my-0">
                            <a
                                aria-expanded="false"
                                class="dropdown-toggle nav-link"
                                data-bs-toggle="dropdown"
                                href="#"
                                id="navbarDropdown"
                                role="button">
                                Account
                            </a>
                            <ul
                                aria-labelledby="navbarDropdown"
                                class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a
                                        asp-action="Profile"
                                        asp-controller="AccountSettings"
                                        class="btn btn-black dropdown-item text-center text-info">
                                        Settings
                                    </a>
                                </li>
                                @{
                                    if (User.IsInRole(ApplicationRoles.Administrator.ToString()))
                                    {
                                        <li>
                                            <a
                                                asp-action="UsersTable"
                                                asp-controller="Admin"
                                                class="btn btn-black dropdown-item text-center text-info">
                                                UsersTable
                                            </a>
                                        </li>
                                    }
                                }
                                <li>
                                    <hr
                                        class="hr-runner"/>
                                </li>
                                <li>
                                    <a
                                        asp-action="LogOut"
                                        asp-controller="Authentication"
                                        class="dropdown-item text-center text-danger">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li
                            class="nav-item
                                     mx-xxl-2 mx-xl-2 mx-lg-2 mx-md-0 mx-sm-0 mx-0
                                     my-xxl-0 my-xl-0 my-lg-0 my-md-3 my-sm-3 my-3">
                            <a
                                aria-current="page"
                                asp-action="SignIn"
                                asp-controller="Authentication"
                                class="btn btn-outline-success nav-link text-light">
                                SignIn
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
<div
    class="container">
    @RenderBody()
</div>

<script
    src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
<script
    src="~/lib/jquery/dist/jquery.js"></script>
<script
    asp-append-version="true"
    src="~/js/site.js"></script>
<script
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>