<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            FoundersPC
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        API Access pricing
                    </a>
                </li>
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item">
                            <a class="btn btn-outline-info text-light" href="#">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-danger text-light">
                                Logout
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-outline-success text-light">
                                Login
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>