@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div
    class = "container-fluid d-sm-block">
    <div>
        <span
            class = "display-1 font-weight-bolder text-danger">
            Access denied
        </span>
    </div>
    <p
        class = "display-4 lead">
        This page or request is denied for you :(
    </p>
    <a
        asp-action = "Index"
        asp-controller = "Home"
        class = "btn btn-block btn-primary">
        Back
    </a>
</div>