@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link
        href="~/css/not-found.css"
        rel="stylesheet">
}

<div
    id="notfound">
    <div
        class="notfound">
        <div
            class="notfound-404">
            <h1>404</h1>
            <h2>Page not found</h2>
        </div>
        <a
            asp-action="Index"
            asp-controller="Home">
            Homepage
        </a>
    </div>
</div>