@model FoundersPC.Web.Domain.Common.Hardware.VideoCardCoreDtoViewModel

<div
    class='d-grid'>
    <div
        class='row'>
        <div
            class='text-light'>
            <input
                asp-for='SLIOrCrossfire'
                class='form-check-input'
                type='checkbox'>
            <label
                class='form-check-label'>
                SLI Or Crossfire
            </label>
        </div>
        <span
            asp-validation-for='SLIOrCrossfire'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='TechProcess'
                    class='bg-dark form-control text-light'>
                <label>TechProcess</label>
            </div>
        </div>
        <span
            asp-validation-for='TechProcess'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='MaxResolution'
                    class='bg-dark form-control text-light'>
                <label>Max Resolution</label>
            </div>
        </div>
        <span
            asp-validation-for='MaxResolution'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='MonitorsSupport'
                    class='bg-dark form-control text-light'>
                <label>Monitors Support</label>
            </div>
        </div>
        <span
            asp-validation-for='MonitorsSupport'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='ConnectionInterface'
                    class='bg-dark form-control text-light'>
                <label>Connection Interface</label>
            </div>
        </div>
        <span
            asp-validation-for='ConnectionInterface'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Codename'
                    class='bg-dark form-control text-light'>
                <label>Codename</label>
            </div>
        </div>
        <span
            asp-validation-for='Codename'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='DirectX'
                    class='bg-dark form-control text-light'>
                <label>DirectX</label>
            </div>
        </div>
        <span
            asp-validation-for='DirectX'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='ArchitectureTitle'
                    class='bg-dark form-control text-light'>
                <label>Architecture Title</label>
            </div>
        </div>
        <span
            asp-validation-for='ArchitectureTitle'
            class='text-danger'>
        </span>
    </div>
    <div
        class='row'>
        <div
            class='form-label-group'>
            <div
                class='input-group'>
                <input
                    asp-for='Title'
                    class='bg-dark form-control text-light'>
                <label>Title</label>
            </div>
        </div>
        <span
            asp-validation-for='Title'
            class='text-danger'>
        </span>
    </div>
    <partial
        name='_ComponentApplyButton'/>
</div>