@model FoundersPC.Web.Application.DTO.Request.UserRegisterRequestViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/loginstyles.css" />
}
<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" asp-action="Login" asp-controller="Login" method="post">
                            <div asp-validation-summary="All"></div>
                            <h3 class="text-center text-info">Registration</h3>
                            <div class="form-group">
                                <label asp-for="Email" class="custom-control-label"></label>
                                <input asp-for="Email" class="form-control"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="custom-control-label"></label>
                                <input asp-for="Password" class="form-control" type="password" id="password-box"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="switchPasswordHiding" onchange="toggleEyeCheck()">
                                    <label class="form-check-label" for="switchPasswordHiding">Hide password</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-block btn-info" onclick="generatePassword()">Generate Password</a>
                            </div>
                            <div class="form-group">
                                <a type="submit" asp-controller="Register" asp-action="Register" class="btn btn-outline-success btn-block">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const passwordBox = document.getElementById('password-box');
    const eyeHider = document.getElementById('switchPasswordHiding');
    function generatePassword() {
        const passwordLength = generateRandomInt(6, 25);
        const randomNumberAsString = Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);
        const randomPassword = randomNumberAsString.slice(-passwordLength);
        passwordBox.value = randomPassword;
    }

    function generateRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min)) + min;
    }

    function toggleEyeCheck() {
        console.log(eyeHider);
        if (passwordBox.type === 'text') {
            passwordBox.type = 'password';
        }
        else {
            passwordBox.type = 'text';
        }
    }
</script> 