@{
    Layout = "_Layout";
@section Styles {
    <link
        href='~/css/neon-btn-styles.css'
        rel='stylesheet'>
    <link
        href="~/css/about.css"
        rel="stylesheet">
}}

<div
    class="box-shadow-fill p-5 text-light">
<div
    class='text-light'>
<p
    class='mt-8'>
    FoundersPC data is available through a REST API; typically on a licensed or partnership
    basis.
    <a
        class="btn btn-neon m-0 p-1 text-decoration-underline"
        href='mailto:jeff@gmail.com'>
        Contact us
    </a>
    for more information - include a brief description of what you're building.
</p>
<h2>Access &amp; Authentication</h2>
<p>
    URL:
    <a
        class='p-1 text-decoration-underline text-info'
        href='https://founderspc.com/api/'>
        https://founderspc.com/api/
    </a>
    <br>Include your key in a request header:
    <span
        class='text-decoration-underline text-info'>
        HARDWARE-API-TOKEN : [your-api-access-token]
    </span>
</p>
<h2>Rate Limit</h2>
<p>
    Endpoints are rate limited. The specific limit varies
    <span
        class='bg-secondary'>
        (1 request in 1 minute)
    </span>. If you are seeing
    <span
        class='bg-danger'>
        429 Too Many Requests
    </span>
    , contact us to discuss your needs.
</p>
<h2>Data Format</h2>
<p>
    Our API conforms to the
    <a
        class="btn btn-neon m-0 p-1 text-decoration-underline"
        href='http://jsonapi.org/'>
        JSON API
    </a>
    specification.
    This spec defines conventions to nicely model different data types, their relationships, and
    metadata. There's likely a
    <a
        class="btn btn-neon m-0 p-1 text-decoration-underline"
        href='http://jsonapi.org/implementations/'>
        JSON API client
    </a>
    in your
    language.
</p>
<div>
<span
    class='display-5'>
    Available Endpoints:
</span>
<br/>

<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info"
            title='Anchor description'>
            /Cases/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "type": string,
            "maxMotherboardSize": string,
            "windowMaterial": string,
            "material": string,
            "transparentWindow": true,
            "color": string,
            "depth": Int32,
            "height": Int32,
            "title": string,
            "weight": Int32,
            "width": Int32,
            "producerId": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
            }
        </span>
    </div>
</div>

<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /HardDriveDisks/id?
            <span
                class='text-light'>
                or
            </span>
            /HDD/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "title": string,
            "headSpeed": Int32,
            "bufferSize": Int32,
            "noise": Int32,
            "factor": Int32,
            "interface": string,
            "volume": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            },
            "producerId": Int32
            }
        </span>
    </div>
</div>

<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /Motherboards/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "socket": string,
            "factor": string,
            "ramSupport": string,
            "ramSlots": Int32,
            "ramMode": string,
            "sliOrCrossfire": true,
            "audioSupport": string,
            "wiFiSupport": true,
            "pS2Support": true,
            "m2SlotsCount": Int32,
            "pciExpressVersion": string,
            "title": string,
            "producerId": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
            }
        </span>
    </div>
</div>


<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /VideoCards/id?
            <span
                class='text-light'>
                or
            </span>
            /GPUs/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "core": {
            "id": Int32,
            "techProcess": Int32,
            "maxResolution": string,
            "monitorsSupport": Int32,
            "connectionInterface": string,
            "codename": string,
            "directX": string,
            "sliOrCrossfire": true,
            "architectureTitle": string,
            "title": string
            },
            "additionalPower": Int32,
            "frequency": Int32,
            "series": string,
            "videoMemoryVolume": Int32,
            "videoMemoryType": string,
            "videoMemoryFrequency": Int32,
            "videoMemoryBusWidth": Int32,
            "vga": Int32,
            "dvi": Int32,
            "hdmi": Int32,
            "displayPort": Int32,
            "title": string,
            "graphicsProcessorId": Int32,
            "id": Int32,
            "producerId": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
            }
        </span>
    </div>
</div>


<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /VideoCardCores/id?
            <span
                class='text-light'>
                or
            </span>
            /GPUCores/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "type": string,
            "maxMotherboardSize": string,
            "windowMaterial": string,
            "material": string,
            "transparentWindow": true,
            "color": string,
            "depth": Int32,
            "height": Int32,
            "title": string,
            "weight": Int32,
            "width": Int32,
            "producerId": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
            }
        </span>
    </div>
</div>


<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /SolidStateDrives/id?
            <span
                class='text-light'>
                or
            </span>
            /SSD/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "factor": Int32,
            "interface": string,
            "volume": Int32,
            "microScheme": string,
            "sequentialRead": Int32,
            "sequentialRecording": Int32,
            "title": string,
            "producerId": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
            }
        </span>
    </div>
</div>


<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /Producers/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
        </span>
    </div>
</div>

<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /RandomAccessMemory/id?
            <span
                class='text-light'>
                or
            </span>
            /RAM/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "memoryType": string,
            "frequency": Int32,
            "casLatency": string,
            "timings": string,
            "voltage": Int32,
            "xmp": true,
            "ecc": true,
            "pcIndex": Int32,
            "title": string,
            "producerId": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
            }
        </span>
    </div>
</div>


<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /Processors/id?
            <span
                class='text-light'>
                or
            </span>
            /CPUs/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "core": {
            "id": Int32,
            "marketLaunch": string (date),
            "title": string,
            "microArchitecture": string,
            "l2CachePerCore": Int32,
            "l3CachePerCore": Int32,
            "socket": string
            },
            "tdp": Int32,
            "title": string,
            "maxRamSpeed": Int32,
            "cores": Int32,
            "threads": Int32,
            "frequency": Int32,
            "turboBoostFrequency": Int32,
            "techProcess": Int32,
            "l1Cache": Int32,
            "l2Cache": Int32,
            "l3Cache": Int32,
            "integratedGraphics": true,
            "series": string,
            "processorCoreId": Int32,
            "id": Int32,
            "producerId": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
            }
        </span>
    </div>
</div>


<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /ProcessorCores/id?
            <span
                class='text-light'>
                or
            </span>
            /CPUCores/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "marketLaunch": string (date),
            "title": string,
            "microArchitecture": string,
            "l2CachePerCore": Int32,
            "l3CachePerCore": Int32,
            "socket": string
            }
        </span>
    </div>
</div>


<div
    class='popup-container'>
    <a
        class='popup-trigger'
        href='#'>
        <span
            class="display-6 text-info">
            /PowerSupplies/id?
            <span
                class='text-light'>
                or
            </span>
            /PSU/id?
        </span>
    </a>
    <div
        class='pop-up-content'>
        <span>
            {
            "id": Int32,
            "power": Int32,
            "efficiency": Int32,
            "motherboardPowering": string,
            "isModular": true,
            "cpU4PIN": true,
            "cpU8PIN": true,
            "fanDiameter": Int32,
            "certificate8Int32PLUS": true,
            "pfc": true,
            "title": string,
            "producerId": Int32,
            "producer": {
            "id": Int32,
            "shortName": string,
            "fullName": string,
            "country": string,
            "website": string,
            "foundationDate": string (date)
            }
            }
        </span>
    </div>
</div>

</div>
<p
    class='mt-5'>
    <em>
        Full documentation will be provided to API partners
    </em>
</p>
</div>
</div>


@section Scripts {
    <script>
        $(document).
            ready(function ()
            {
                var moveLeft = 20;
                var moveDown = 10;

                $('.popup-container').
                    each(function (index, container)
                    {
                        $(this).
                            children('a.popup-trigger').
                            hover(function (e) { $(container).children('.pop-up-content').show(); },
                                function () { $(container).children('.pop-up-content').hide(); });

                        $(this).children('a.popup-trigger').mousemove(function (e) { $(container).children('.pop-up-content').css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft); });
                    });
            });
    </script>
}