@using FoundersPC.ApplicationShared
@using FoundersPC.ApplicationShared.ApplicationConstants
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
@section Styles {
    <link
        href="~/css/pricing.css"
        rel="stylesheet">
    <link
        href="~/css/neon-btn-styles.css"
        rel="stylesheet">
}}

@{
    if ((User.Identity?.IsAuthenticated ?? false)
        && User.IsInRole(ApplicationRoles.Administrator, ApplicationRoles.Manager)) {
        <ul>
            <li
                class="list-group-item">
                <a
                    asp-action="Table"
                    asp-controller="Producers"
                    class="btn btn-outline-info">
                    PRODUCERS
                </a>
            </li>
        </ul>
    } else {
        
    }

@section Scripts
 {
     <script
         src='~/lib/GSAP/js/gsap-latest-beta.min.js'></script>
     <script
         src='~/lib/GSAP/js/CSSRulePlugin3.min.js'></script>
     <script
         src='~/js/pricing.js'></script>
 }}