@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (User.Identity?.IsAuthenticated ?? false)
    {
        <a class="btn btn-black align-middle text-danger" asp-controller="Authentication" asp-action="SignOut">Logout</a>
    }
    else
    {
        <a class="btn btn-black align-middle text-danger" asp-controller="Authentication" asp-action="LoginIndex">LogIn</a>
    }
}