@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (User.Identity?.IsAuthenticated ?? false)
    {
        <a class="btn btn-black align-middle text-danger" asp-controller="Authentication" asp-action="SignOut">Logout</a>
        <ul>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="Cases">CASES</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="HardDrives">HDDs</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="Motherboards">MOTHERBOARDS</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="PowerSupplies">POWERSUPPLIES</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="ProcessorCores">CPU CORES</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="Processors">CPUs</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="Producers">PRODUCERS</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="RandomAccessMemory">RAMs</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="SolidStateDrives">SSDs</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="VideoCardCores">GPU CORES</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="VideoCards">GPUs</a>
            </li>
        </ul>
    }
    else
    {
        <a class="btn btn-black align-middle text-danger" asp-controller="Authentication" asp-action="LoginIndex">LogIn</a>
    }
}