@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (User.Identity?.IsAuthenticated ?? false)
    {
        <ul>
            <li
                class="list-group-item">
                <a
                    asp-action="Cases"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    CASES
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="HardDrives"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    HDDs
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="Motherboards"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    MOTHERBOARDS
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="PowerSupplies"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    POWERSUPPLIES
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="ProcessorCores"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    CPU CORES
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="Processors"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    CPUs
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="Producers"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    PRODUCERS
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="RandomAccessMemory"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    RAMs
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="SolidStateDrives"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    SSDs
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="VideoCardCores"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    GPU CORES
                </a>
            </li>
            <li
                class="list-group-item">
                <a
                    asp-action="VideoCards"
                    asp-controller="Home"
                    class="btn btn-outline-info">
                    GPUs
                </a>
            </li>
        </ul>
    }
}