@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FoundersPC.Web.Application.DTO.Request.UserLoginRequestViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/loginstyles.css" />
}
<body>
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" asp-action="Login" asp-controller="Login" method="post">
                        <div asp-validation-summary="All"></div>
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label asp-for="LoginOrEmail" class="custom-control-label"></label>
                            <input asp-for="LoginOrEmail" class="form-control" />
                            <span asp-validation-for="LoginOrEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="custom-control-label"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="align-self-lg-center">
                            <a type="submit" asp-controller="Login" asp-action="Login" class="btn btn-outline-success">Log In</a>
                        </div>
                        <div id="register-link" class="align-middle">
                            <a asp-action="RegisterIndex" asp-controller="Register" class="text-info">Don't have an account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>